<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/favicon.png">
    <title>关于</title>
    <meta name="description" content="建站缘由。">
    <link rel="stylesheet" href="../assets/css/home.css">
</head>
<body>
    <div class="home">
        <div class="quote">
            <pre>
生的终止不过一场死亡
死的意义不过在于重生或永眠
死亡不是失去生命
而是走出时间

                      —— 余华《活着》
            </pre>
        </div>
    </div>
    <footer class="f2-backhome">
        <div class="myword">
            <h3>远居他乡，心念故里。<br>故人已去，谨以此记。</h3>
        </div>
        <a href="../index.html">
            <button class="b2-backhome" type="button">&lt;</button>
        </a>
    </footer>
</body>
</html>
